linesColor = #3B3B3B
// *
//     border 1px solid red

body
    margin 0
    font-family 'Roboto', sans-serif
    color linesColor

h3
    font-family 'Montserrat', sans-serif
    margin 5px 0

h1
    margin-bottom 0

a
    text-decoration none
    color white

.container
    width 800px
    margin auto

// .jobInfo
//     width 40%

//     h3, h4, h5 
//         margin 0 0 5px 0

// .jobFunctions
//     width 60%
//     span
//         font-weight 600
//         display block

//     span:after
//         content: ':'

//     p
//         margin 0 0 8px 0
//         font-family 'Montserrat', sans-serif
//         font-size 0.8em

// .title
//     display block