@import '~/font-awesome/css/font-awesome.min.css'
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700')
linesColor = #3B3B3B

body
    margin 0
    font-family 'Roboto', 'system-ui'
    color linesColor

h3
    font-family 'Montserrat', 'system-ui'
    margin 5px 0

h1
    margin-bottom 0

a
    text-decoration none

.container
    max-width 800px
    margin auto