linesColor = #3B3B3B

.job
    border 1px solid linesColor
    border-radius 3px
    display grid
    grid-template-columns 300px 1fr
    padding 20px
    margin-bottom 20px

    +below(768px)
        grid-template-columns 1fr

    h3
        font-weight 600
        margin-top 0
    h4
    h5
        font-weight 400
        margin 0

.jobFunctions
    ul
        margin 0

        &:first-of-type
            margin-bottom 15px

    li
        list-style-type square
    
    span 
        font-weight 600

        &:after
            content ':'

.jobTitle
    margin-bottom 15px