linesColor = #3B3B3B

.job
    border 1px solid linesColor
    border-radius 3px
    padding 20px
    margin-bottom 20px
    display grid
    grid-template-columns 300px 1fr

    h3
        margin-top 0
        font-weight 600
    h4
    h5
        margin 0
        font-weight 400

.jobFunctions
    ul
        margin 0

    li
        list-style-type square
    
    span 
        font-weight 600

    span:after
        content ':'