linesColor = #3B3B3B

body
    margin 0
    font-family 'Roboto', sans-serif
    color linesColor

h3
    font-family 'Montserrat', sans-serif
    margin 5px 0

h1
    margin-bottom 0

a
    text-decoration none
    color white

figure
    margin 0
    height 200px
    width 200px

.container
    width 800px
    margin auto
    padding-top 35px
    display flex
    justify-content space-between

.contact
    display flex
    justify-content space-between

    h4
        margin-bottom 5px

.info
    color white
    width 461px
    margin-top 20px
    align-content: right

.job
    border 1px solid linesColor
    border-radius 3px
    width 100%
    padding 20px
    display flex
    justify-content space-between

.jobInfo
    width 40%

    h3, h4, h5 
        margin 0 0 5px 0

.jobFunctions
    width 60%
    span
        font-weight 600
        display block

    p
        margin 0 0 8px 0
        font-family 'Montserrat', sans-serif
        font-size 0.8em


.header
    background-image url("../images/space.jpg")
    background-repeat no-repeat
    background-size cover
    height 270px

.photo
    margin-left 0
    height 200px
    width 200px
    overflow hidden
    border-radius: 50%

    img
        width 200px
        position relative
        bottom 50px

.title
    display block