.contact
    display grid
    grid-template-columns repeat(6, 1fr)
    grid-template-rows auto auto
    grid-gap 10px 0
    justify-items center

    +below(768px)
        align-items center

    a
        color white

    a:nth-child(1)
        grid-column 1 / span 3

    a:nth-child(2)
        grid-column 4 / span 3

    a:nth-child(3)
        grid-column 3 / span 1

    a:nth-child(4)
        grid-column 4 / span 1

    h4
        margin-bottom 5px

        span
            margin-right 7px