.header
    background-image url("../../../../images/space.jpg")
    background-repeat no-repeat
    background-size cover
    height 270px

.header > div
    padding-top 35px
    display grid
    grid-template-columns 350px 1fr
    align-items center