.header
    background-image url("../../../../images/space.jpg")
    height 270px
    
    +below(768px)
        height 500px
    
    +below(450px)
        height 600px

&.hero
    padding-top 35px
    display grid
    grid-template-columns 1fr 2fr

    +below(768px)
        grid-template-columns 1fr
        grid-template-rows 2fr
        grid-row-gap 20px
        justify-items center