.header
    background-image url("../../../../images/space.jpg")
    height 290px
    
    +below(768px)
        height 520px
    
    +below(450px)
        height 620px

.hero
    display grid
    grid-template-columns 1fr 2fr
    grid-template-rows 35px 1fr

    +below(768px)
        grid-template-columns 1fr
        grid-template-rows 35px 1fr
        grid-row-gap 20px
        justify-items center