.photo
    margin 0
    height 200px
    width 200px
    overflow hidden
    border-radius: 50%

    // +below(768px)
    //     height 250px
    //     width 250px

    img
        width 200px
        position relative
        bottom 50px

        // +below(768px)
        //     width 250px