.menu
    color white
    grid-column 1 / span 2
    justify-self end
    overflow hidden

    +below(768px)
        grid-column auto

    li
        display inline-block
        margin-left 20px
        
        a
            padding 10px 10px
            cursor pointer

.icon
    margin-right 10px